|
  Здравствуйте!

br
br

|

  Описание, а также короткий видеообзор возможностей программы
  доступны по ссылке ниже:

br
br

a(href = "http://iricrm.ru/massage") http://iricrm.ru/massage

br
br

br


|
  С уважением, команда IRI CRM.
